<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TLogUpdater" type="TLogUpdater.Library.TLogUpdaterSection, TLogUpdater.Library" allowLocation="true" allowDefinition="Everywhere" />
    <section name="LoggingConfiguration" type="SpencerGifts.Common.Logging.LoggingConfiguration,SpencerGifts.Common.Logging"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <TLogUpdater>
    <Definitions>
      <Definition>
        <UpdateDefinitions>
          <UpdateDefinition LineType="-1" Position="4" Value="2014-11-28 00:01:00" />
          <UpdateDefinition LineType="10" Position="30" Value="2014-11-28" />
          <UpdateDefinition LineType="10" Position="31" Value="2014/11/28 00:01:00" />
          <UpdateDefinition LineType="99" Position="19" Value="2014-11-28 00:01:00" />          
        </UpdateDefinitions>
        <ConditionDefinitions>
          <ConditionDefinition Position="4" Value="2014-11-27 16:00:00" ShouldProcess="true" Logic="Geq" Type="System.DateTime" />
          <ConditionDefinition Position="4" Value="2014-11-28 00:00:00" ShouldProcess="true" Logic="Leq" Type="System.DateTime" />
          <ConditionDefinition Position="34" Value="0" ShouldProcess="true" Logic="Eq" Type="System.String"/>
        </ConditionDefinitions>
      </Definition>
      <Definition>
        <UpdateDefinitions>
          <UpdateDefinition LineType="-1" Position="4" Value="2014-11-28 23:58:00" />
          <UpdateDefinition LineType="10" Position="30" Value="2014-11-28" />
          <UpdateDefinition LineType="10" Position="31" Value="2014/11/28 23:58:00" />
          <UpdateDefinition LineType="99" Position="19" Value="2014-11-28 23:58:00" />
        </UpdateDefinitions>
        <ConditionDefinitions>
          <ConditionDefinition Position="4" Value="2014-11-29 00:00:00" ShouldProcess="true" Logic="Geq" Type="System.DateTime" />
          <ConditionDefinition Position="4" Value="2014-11-29 10:00:00" ShouldProcess="true" Logic="Leq" Type="System.DateTime" />
          <!--<ConditionDefinition Position="4" Value="2014-11-29 03:00:00" ShouldProcess="true" Logic="Leq" Type="System.DateTime" />-->
        </ConditionDefinitions>
      </Definition>
    </Definitions>
  </TLogUpdater>
  <LoggingConfiguration ConfigSettings ="E:\adTempusJobs\TLogUpdater\LoggingConfig.xml" />
  <appSettings>
    <add key="sourceLocation" value="\\sgicorp.spencergifts.com\spencergifts\POS\Polling\Data\RecoverT\Good\ForTlogUpdater\" />
    <add key="destinationLocation" value="\\sgicorp.spencergifts.com\spencergifts\POS\Polling\Data\RecoverT\Good\Translated" />
    <add key="backupLocation" value="\\sgicorp.spencergifts.com\spencergifts\POS\Polling\Data\RecoverT\Good\BackupForTlogUpdater\" />
    <add key="enabled" value="true" />
  </appSettings>
</configuration>