<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="TranslatePlugins">
      <section name="SpencerGifts.Translate.Plugin.TLog.AS400" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="SpencerGifts.Translate.Plugin.TLog.Nightly" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="SpencerGifts.Translate.Plugin.TLog.Nightly.Consignment" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="SpencerGifts.Translate.Plugin.TLog.Daily" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="SpencerGifts.Translate.Plugin.TLog.Daily.Consignment" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="SpencerGifts.Translate.Plugin.TLog.IOrders" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="SpencerGifts.Translate.Plugin.TLog.SignatureLookup" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
    <sectionGroup name="CountryConfig">
      <section name="Country_0" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="Country_1" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="Country_2" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    <section name="LoggingConfiguration" type="SpencerGifts.Common.Logging.LoggingConfiguration,SpencerGifts.Common.Logging"/>
  </configSections>
  <TranslatePlugins>
    <SpencerGifts.Translate.Plugin.TLog.Nightly>
      <!-- Start Required Config Values-->
      <add key="ExecutionName"  value="SpencerGifts.Translate.Plugin.TLog,SpencerGifts.Translate.Plugin.TLog.TLogTranslateItem"/>
      <add key="SourceFileLocation"  value="\\sghpnas\pos\Poll\TlogT\Good\Translated"  />
      <add key="TranslatedFileLocation"  value="\\sgaw\sybwork"/>
      <add key="RulesFile"  value="E:\Translate\Translate Templates\TranslateRules.xml" />
      <add key="SourceTemplate"  value="E:\Translate\Translate Templates\TLog.xml" />
      <add key="DestinationTemplate"  value="E:\Translate\Translate Templates\AuditWorks.xml" />
      <add key="SourceFile"  value="" />
      <add key="NewDocumentRootNode"  value="STORE" />
      <add key="LoggingProvider"  value="SpencerGifts.Common.Logging.HTMLogger,SpencerGifts.Common.Logging"/>
      <!-- End Required Config Values-->
      <add key="BadTlogLocation"  value="\\sghpnas\pos\Poll\TlogT\Bad" />
      <add key="BackupFolder"  value="\\sghpnas\pos\Poll\TlogT\Good\Backup"/>
      <add key="ConsignmentStoreFile"  value="\\sghpnas\pos\Poll\Auditworks\Translate\exclude.dat"/>
      <add key="FailedTranslatePath"  value="\\sghpnas\pos\Poll\TlogT\TranslateFailed"/>
      <add key="TranslateExludeFile"  value="\\sghpnas\pos\poll\Bin\exclude.txt"/>
      <add key="TranslateExludePath"  value="\\sghpnas\pos\Poll\TlogT"/>
      <add key="TranslateExludeType_BeforeTrans"  value="A,P,I"/>
      <add key="ConsignmentCountryCode"  value="2"/>
      <add key="ValidateTLog"  value="false" />
      <add key="PolledNetSalesFile"  value="\\SGAW\sybwork\Spencer\DATA\polled_net_sales.tab"  />
      <add key="ReDate"  value="false" />
      <add key="MaxThreads"  value="30" />
      <add key="MinThreads"  value="10" />
      <add key="ConcurrentThreads" value="15"/>
    </SpencerGifts.Translate.Plugin.TLog.Nightly>
    <SpencerGifts.Translate.Plugin.TLog.Nightly.Consignment>
      <!-- Start Required Config Values-->
      <add key="ExecutionName"  value="SpencerGifts.Translate.Plugin.TLog,SpencerGifts.Translate.Plugin.TLog.TLogTranslateItem"/>
      <add key="SourceFileLocation"  value="\\sghpnas\pos\Poll\TlogT\GoodExclude\Converted"  />
      <add key="TranslatedFileLocation"  value="\\sgaw\sybwork"/>
      <add key="RulesFile"  value="E:\Translate\Translate Templates\TranslateRules.xml" />
      <add key="SourceTemplate"  value="E:\Translate\Translate Templates\TLog.xml" />
      <add key="DestinationTemplate"  value="E:\Translate\Translate Templates\AuditWorks.xml" />
      <add key="SourceFile"  value="" />
      <add key="NewDocumentRootNode"  value="STORE" />
      <add key="LoggingProvider"  value="SpencerGifts.Common.Logging.HTMLogger,SpencerGifts.Common.Logging"/>
      <!-- End Required Config Values-->
      <add key="BadTlogLocation"  value="\\sghpnas\pos\Poll\TlogT\Bad" />
      <add key="BackupFolder"  value="\\sghpnas\pos\Poll\TlogT\GoodExclude\Backup"/>
      <add key="ConsignmentStoreFile"  value="\\sghpnas\pos\Poll\Auditworks\Translate\exclude.dat"/>
      <add key="FailedTranslatePath"  value="\\sghpnas\pos\Poll\TlogT\TranslateFailed"/>
      <add key="TranslateExludeFile"  value="\\sghpnas\pos\poll\Bin\exclude.txt"/>
      <add key="TranslateExludePath"  value="\\sghpnas\pos\Poll\TlogT"/>
      <add key="TranslateExludeType_BeforeTrans"  value="A,P,I"/>
      <add key="ConsignmentCountryCode"  value="2"/>
      <add key="ValidateTLog"  value="false" />
      <add key="PolledNetSalesFile"  value="E:\Spencer\DATA\polled_net_sales.tab"  />
      <add key="ReDate"  value="false" />
      <add key="MaxThreads"  value="30" />
      <add key="MinThreads"  value="10" />
      <add key="ConcurrentThreads" value="10"/>
    </SpencerGifts.Translate.Plugin.TLog.Nightly.Consignment>
    <SpencerGifts.Translate.Plugin.TLog.Daily>
      <!-- Start Required Config Values-->
      <add key="ExecutionName"  value="SpencerGifts.Translate.Plugin.TLog,SpencerGifts.Translate.Plugin.TLog.TLogTranslateItem"/>
      <add key="SourceFileLocation"  value="\\sghpnas\pos\Data\RecoverT\Good\Translated"  />
      <add key="TranslatedFileLocation"  value="\\sgaw\sybwork"/>
      <add key="RulesFile"  value="E:\Translate\Translate Templates\TranslateRules.xml" />
      <add key="SourceTemplate"  value="E:\Translate\Translate Templates\TLog.xml" />
      <add key="DestinationTemplate"  value="E:\Translate\Translate Templates\AuditWorks.xml" />
      <add key="SourceFile"  value="" />
      <add key="NewDocumentRootNode"  value="STORE" />
      <add key="LoggingProvider"  value="SpencerGifts.Common.Logging.HTMLogger,SpencerGifts.Common.Logging"/>
      <!-- End Required Config Values-->
      <add key="BadTlogLocation"  value="\\sghpnas\pos\Data\RecoverT\Bad" />
      <add key="BackupFolder"  value="\\sghpnas\pos\Data\RecoverT\Good\Backup"/>
      <add key="ConsignmentStoreFile"  value="\\sghpnas\pos\Poll\Auditworks\Translate\exclude.dat"/>
      <add key="FailedTranslatePath"  value="\\sghpnas\pos\Data\RecoverT\TranslateFailed"/>
      <add key="TranslateExludeFile"  value="\\sghpnas\pos\poll\Bin\exclude.txt"/>
      <add key="TranslateExludePath"  value="\\sghpnas\pos\Poll\TlogT"/>
      <add key="TranslateExludeType_BeforeTrans"  value="A,P,I"/>
      <add key="ConsignmentCountryCode"  value="2"/>
      <add key="ValidateTLog"  value="false" />
      <add key="PolledNetSalesFile"  value="\\SGAW\sybwork\Spencer\DATA\polled_net_sales.tab"  />
      <add key="ReDate"  value="false" />
      <add key="MaxThreads"  value="30" />
      <add key="MinThreads"  value="10" />
      <add key="ConcurrentThreads" value="10"/>
    </SpencerGifts.Translate.Plugin.TLog.Daily>
    <SpencerGifts.Translate.Plugin.TLog.Daily.Consignment>
      <!-- Start Required Config Values-->
      <add key="ExecutionName"  value="SpencerGifts.Translate.Plugin.TLog,SpencerGifts.Translate.Plugin.TLog.TLogTranslateItem"/>
      <add key="SourceFileLocation"  value="\\sghpnas\pos\Data\RecoverT\GoodExclude\Converted"  />
      <add key="TranslatedFileLocation"  value="\\sgaw\sybwork"/>
      <add key="RulesFile"  value="E:\Translate\Translate Templates\TranslateRules.xml" />
      <add key="SourceTemplate"  value="E:\Translate\Translate Templates\TLog.xml" />
      <add key="DestinationTemplate"  value="E:\Translate\Translate Templates\AuditWorks.xml" />
      <add key="SourceFile"  value="" />
      <add key="NewDocumentRootNode"  value="STORE" />
      <add key="LoggingProvider"  value="SpencerGifts.Common.Logging.HTMLogger,SpencerGifts.Common.Logging"/>
      <!-- End Required Config Values-->
      <add key="BadTlogLocation"  value="\\sghpnas\pos\Data\RecoverT\Bad" />
      <add key="BackupFolder"  value="\\sghpnas\pos\Data\RecoverT\GoodExclude\Backup"/>
      <add key="ConsignmentStoreFile"  value="\\sghpnas\pos\Poll\Auditworks\Translate\exclude.dat"/>
      <add key="FailedTranslatePath"  value="\\sghpnas\pos\Data\RecoverT\TranslateFailed"/>
      <add key="TranslateExludeFile"  value="\\sghpnas\pos\poll\Bin\exclude.txt"/>
      <add key="TranslateExludePath"  value="\\sghpnas\pos\Poll\TlogT"/>
      <add key="TranslateExludeType_BeforeTrans"  value="A,P,I"/>
      <add key="ConsignmentCountryCode"  value="2"/>
      <add key="ValidateTLog"  value="false" />
      <add key="PolledNetSalesFile"  value="\\SGAW\sybwork\Spencer\DATA\polled_net_sales.tab"  />
      <add key="ReDate"  value="false" />
      <add key="MaxThreads"  value="30" />
      <add key="MinThreads"  value="10" />
      <add key="ConcurrentThreads" value="10"/>
    </SpencerGifts.Translate.Plugin.TLog.Daily.Consignment>
    <SpencerGifts.Translate.Plugin.TLog.AS400>
      <!-- Start Required Config Values-->
      <add key="ExecutionName"  value="SpencerGifts.Translate.Plugin.TLog.AS400,SpencerGifts.Translate.Plugin.TLog.AS400.TLogTranslateItem"/>
      <add key="SourceFileLocation"  value="\\sghpnas\pos\Poll\Upload" />
      <add key="TranslatedFileLocation"  value="\\sghpnas\pos\Poll\Upload"/>
      <add key="RulesFile"  value="C:\Documents and Settings\stein\My Documents\Visual Studio 2005\Projects\Translate\Translate\Translate Templates\SpencerGifts.Translate.Plugin.TLog.AS400Rules.xml" />
      <add key="SourceTemplate"  value="C:\Documents and Settings\stein\My Documents\Visual Studio 2005\Projects\Translate\Translate\Translate Templates\TLog.xml" />
      <add key="DestinationTemplate"  value="C:\Documents and Settings\stein\My Documents\Visual Studio 2005\Projects\Translate\Translate\Translate Templates\TLog.xml" />
      <add key="SourceFile"  value="UpLogsT" />
      <add key="NewDocumentRootNode"  value="STORE" />
      <add key="LoggingProvider"  value="SpencerGifts.Common.Logging.HTMLogger,SpencerGifts.Common.Logging"/>
      <!-- End Required Config Values-->
      <add key="DestinationFile"  value="UpLogsTMask" />
    </SpencerGifts.Translate.Plugin.TLog.AS400>
    <SpencerGifts.Translate.Plugin.TLog.IOrders>
      <!-- Start Required Config Values-->
      <add key="ExecutionName"  value="SpencerGifts.Translate.Plugin.TLog.IOrders,SpencerGifts.Translate.Plugin.TLog.IOrders.IOrderTranslateItem"/>
      <add key="SourceFileLocation"  value="\\SGAW\sybwork\iorders\download" />
      <add key="TranslatedFileLocation"  value="\\sghpnas\pos\Data\RecoverT"/>
      <add key="RulesFile"  value="E:\Translate\Translate Templates\IOrderRules.xml" />
      <add key="SourceTemplate"  value="E:\Translate\Translate Templates\IOrderTemplate.xml" />
      <add key="DestinationTemplate"  value="E:\Translate\Translate Templates\TLog.xml" />
      <add key="SourceFile"  value="" />
      <add key="NewDocumentRootNode"  value="TLOG" />
      <add key="LoggingProvider"  value="SpencerGifts.Common.Logging.HTMLogger,SpencerGifts.Common.Logging"/>
      <!-- End Required Config Values-->
      <add key="TemporaryWorkFolder" value="E:\Translate\Temp" />
      <add key="WebLincBackupFolder" value="\\SGAW\sybwork\iorders\backup" />
      <add key="SIRISFTP" value="\\sgicorp\spencergifts\SIRIS\SIRISFTP\WebLinc"/>
      <add key="ReorderSkuFile" value="\\sgicorp\spencergifts\SIRIS\SIRISFTP\WebLinc\ReorderSKU\ReorderSKU.txt" />
      <add key="SkuFile" value="\\sgicorp\spencergifts\SIRIS\SIRISFTP\REI\SKU.TXT" />
      <add key="IOrderHeaderTemplateFile" value="E:\Translate\TranslateDependencies\IOrderHeader.xml"/>
      <add key="IOrderDetailTemplateFile" value="E:\Translate\TranslateDependencies\IOrderDetail.xml"/>
      <add key="IOrderPaymentTemplateFile" value="E:\Translate\TranslateDependencies\IOrderPayment.xml"/>
      <add key="IOrderReorderSkuFile" value="E:\Translate\TranslateDependencies\IOrderReorderSku.xml" />
      <add key="IOrderSkuList" value="E:\Translate\TranslateDependencies\IOrderSkuList.xml" />
      <add key="StoreRegTranConfig" value="E:\Translate\TranslateDependencies\StoreRegisterInfo.xml"/>
      <add key="TotalsReportEmail" value="david.stein@spencergifts.com"/>
      <add key="NoOrdersEmail" value="david.stein@spencergifts.com;gary.dever@spencergifts.com;donna.matteucci@spencergifts.com;kim.fedo@spencergifts.com;vickie.heintz@spencergifts.com"/>
      <add key="DuplicateFilesEmail" value="david.stein@spencergifts.com;gary.dever@spencergifts.com;John.Beck@spencergifts.com;steve.cranmer@spencergifts.com" />
      <add key="MailServer" value="sgex01" />
    </SpencerGifts.Translate.Plugin.TLog.IOrders>
    <SpencerGifts.Translate.Plugin.TLog.SignatureLookup>
      <!-- Start Required Config Values-->
      <add key="ExecutionName"  value="SpencerGifts.Translate.Plugin.TLog.SignatureLookup,SpencerGifts.Translate.Plugin.TLog.SignatureLookup.SignatureTranslateItem"/>
      <add key="SourceFileLocation"  value="c:\XMLTlogs" />
      <add key="TranslatedFileLocation"  value=""/>
      <add key="RulesFile"  value="" />
      <add key="SourceTemplate"  value="" />
      <add key="DestinationTemplate"  value="" />
      <add key="SourceFile"  value="" />
      <add key="NewDocumentRootNode"  value="STORE" />
      <add key="LoggingProvider"  value="SpencerGifts.Common.Logging.HTMLogger,SpencerGifts.Common.Logging"/>
      <!-- End Required Config Values-->
      <add key="SQLConnection" value="Server=SGSQL;Database=SignatureCapture;Integrated Security=SSPI;Connect Timeout=600"/>
      <add key="NavistorSQLConnection" value="Server=SGSQL;Database=SignatureCapture;Integrated Security=SSPI;Connect Timeout=600"/>
    </SpencerGifts.Translate.Plugin.TLog.SignatureLookup>
  </TranslatePlugins>
  <CountryConfig>
    <Country_0>
      <add key="Country" value="US"/>
      <add key="Directory_Prefix" value="AWL"/>
      <add key="DirectoryLocation" value="PollFiles_Live\AWL"/>
      <add key="TranslatedFilePrefix" value="XPOLLD" />
    </Country_0>
    <Country_1>
      <add key="Country" value="CA"/>
      <add key="Directory_Prefix" value="AWC"/>
      <add key="DirectoryLocation" value="PollFiles_Live\AWC"/>
      <add key="TranslatedFilePrefix" value="XPOLLD" />
    </Country_1>
    <Country_2>
      <add key="Country" value="UK"/>
      <add key="Directory_Prefix" value="AWU"/>
      <add key="DirectoryLocation" value="PollFiles_Live\AWU"/>
      <add key="TranslatedFilePrefix" value="XPOLLD" />
    </Country_2>
  </CountryConfig>
  <LoggingConfiguration ConfigSettings ="E:\Translate\LoggingConfig.xml" />
  <appSettings>
    <add key="SaveXMLTLog" value="False"/>
    <add key="XMLTLogSavePath" value="\\sgsql\FileSave\XMLTlogs"/>
  </appSettings>
</configuration>
