<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TLogUpdater" type="TLogUpdater.Library.TLogUpdaterSection, TLogUpdater.Library" allowLocation="true" allowDefinition="Everywhere" />
    <section name="LoggingConfiguration" type="SpencerGifts.Common.Logging.LoggingConfiguration,SpencerGifts.Common.Logging"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <TLogUpdater>
    <Definitions>
      <Definition>
        <UpdateDefinitions>
          <UpdateDefinition LineType="-1" Position="4" Value="2013-10-25 00:01:00" />
          <UpdateDefinition LineType="10" Position="30" Value="2013-10-25" />
          <UpdateDefinition LineType="10" Position="31" Value="2013/10/25 00:01:00" />
          <UpdateDefinition LineType="99" Position="19" Value="2013-10-25 00:01:00" />          
        </UpdateDefinitions>
        <ConditionDefinitions>
          <ConditionDefinition Position="4" Value="2013-10-24 16:00:00" ShouldProcess="true" Logic="Geq" Type="System.DateTime" />
          <ConditionDefinition Position="4" Value="2013-10-25 00:00:00" ShouldProcess="true" Logic="Leq" Type="System.DateTime" />
          <ConditionDefinition Position="34" Value="0" ShouldProcess="true" Logic="Eq" Type="System.String"/>
        </ConditionDefinitions>
      </Definition>
      <Definition>
        <UpdateDefinitions>
          <UpdateDefinition LineType="-1" Position="4" Value="2013-10-25 23:58:00" />
          <UpdateDefinition LineType="10" Position="30" Value="2013-10-25" />
          <UpdateDefinition LineType="10" Position="31" Value="2013/10/25 23:58:00" />
          <UpdateDefinition LineType="99" Position="19" Value="2013-10-25 23:58:00" />
        </UpdateDefinitions>
        <ConditionDefinitions>
          <ConditionDefinition Position="4" Value="2013-10-26 00:00:00" ShouldProcess="true" Logic="Geq" Type="System.DateTime" />
          <ConditionDefinition Position="4" Value="2013-10-26 03:00:00" ShouldProcess="true" Logic="Leq" Type="System.DateTime" />          
        </ConditionDefinitions>
      </Definition>
    </Definitions>
  </TLogUpdater>
  <LoggingConfiguration ConfigSettings ="E:\adTempusJobs\TLogUpdater\LoggingConfig.xml" />
  <appSettings>
    <add key="sourceLocation" value="C:\TLogs\" />
    <add key="destinationLocation" value="C:\TLogs\Output\" />
    <add key="backupLocation" value="C:\TLogs\Backup\" />
    <add key="enabled" value="true" />
  </appSettings>
</configuration>