<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="TranslatePlugins">
      <section name="SpencerGifts.Translate.Plugin.TLog" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
    <sectionGroup name="CountryConfig">
      <section name="Country_0" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="Country_1" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="Country_2" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
  </configSections>
  <TranslatePlugins>
    <SpencerGifts.Translate.Plugin.TLog>
      <add key ="ExecutionName" value="SpencerGifts.Translate.Plugin.TLog,SpencerGifts.Translate.Plugin.TLog.TLogTranslateItem"/>
      <add key ="SourceFileLocation" value ="C:\Program Files\Spencer Gifts\Translate\awpolled"/>
      <add key ="TranslatedFileLocation" value="C:\Program Files\Spencer Gifts\Translate\WorkFolder"/>
      <add key ="RulesFile" value ="C:\Documents and Settings\stein\My Documents\Visual Studio 2005\Projects\Translate\Translate\Translate Templates\TranslateRules.xml"/>
      <add key ="SourceTemplate" value="C:\Documents and Settings\stein\My Documents\Visual Studio 2005\Projects\Translate\Translate\Translate Templates\TLog.xml" />
      <add key ="DestinationTemplate" value="C:\Documents and Settings\stein\My Documents\Visual Studio 2005\Projects\Translate\Translate\Translate Templates\AuditWorks.xml" />
      <add key ="SourceFile" value="" />
      <add key ="NewDocumentRootNode" value ="STORE"/>
    </SpencerGifts.Translate.Plugin.TLog>
  </TranslatePlugins>
  <CountryConfig>
    <Country_0>
      <add key="Country" value="US"/>
      <add key="Directory_Prefix" value="AWL"/>
      <add key="DirectoryLocation" value="US_poll_files"/>
      <add key="TranslatedFilePrefix" value="XPOLLD" />
    </Country_0>
    <Country_1>
      <add key="Country" value="CA"/>
      <add key="Directory_Prefix" value="AWC"/>
      <add key="DirectoryLocation" value="can_poll_files"/>
      <add key="TranslatedFilePrefix" value="XPOLLD" />
    </Country_1>
    <Country_2>
      <add key="Country" value="UK"/>
      <add key="Directory_Prefix" value="AWU"/>
      <add key="DirectoryLocation" value="PollFiles_Live\AWU"/>
      <add key="TranslatedFilePrefix" value="XPOLLD" />
    </Country_2>
  </CountryConfig>
  <appSettings>
    <add key ="BadTlogLocation" value="C:\Program Files\Spencer Gifts\Translate\" />
    <add key="LogFileLocation" value="C:\Program Files\Spencer Gifts\Translate\Logs"/>
    <add key="BackupFolder" value="C:\Program Files\Spencer Gifts\Translate\Backup"/>
    <add key="ConsignmentStoreFile" value="C:\Documents and Settings\stein\My Documents\Visual Studio 2005\Projects\Translate\SpencerGifts.Translate.TLog\SupportFiles\exclude.dat"/>
    <add key="ConsignmentCountryCode" value="2"/>
  </appSettings>
</configuration>
