<?xml version="1.0" encoding="utf-8" ?>
<!--SGPOSDATA CONFIG-->
<configuration>
  <configSections>
    <sectionGroup name="TranslatePlugins">
      <section name="SpencerGifts.Translate.Plugin.TLog.Daily" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="SpencerGifts.Translate.Plugin.TLog.Daily.Consignment" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
    <sectionGroup name="CountryConfig">
      <section name="Country_0" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="Country_1" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="Country_2" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    <section name="LoggingConfiguration" type="SpencerGifts.Common.Logging.LoggingConfiguration,SpencerGifts.Common.Logging"/>
  </configSections>
  <TranslatePlugins>
    <SpencerGifts.Translate.Plugin.TLog.Daily>
      <!-- Start Required Config Values-->
      <add key="ExecutionName"  value="SpencerGifts.Translate.Plugin.TLog,SpencerGifts.Translate.Plugin.TLog.TLogTranslateItem"/>
      <add key="SourceFileLocation"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\TlogData\Data\RecoverT\Good\Translated"  />
      <add key="TranslatedFileLocation"  value="\\sgawdevapp\Retail_apps"/>
      <add key="RulesFile"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\Translate Templates\TranslateRules.xml" />
      <add key="SourceTemplate"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\Translate Templates\TLog.xml" />
      <add key="DestinationTemplate"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\Translate Templates\AuditWorks.xml" />
      <add key="SourceFile"  value="" />
      <add key="NewDocumentRootNode"  value="STORE" />
      <add key="LoggingProvider"  value="SpencerGifts.Common.Logging.HTMLogger,SpencerGifts.Common.Logging"/>
      <!-- End Required Config Values-->
      <add key="BadTlogLocation"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\TlogData\Data\RecoverT\Bad" />
      <add key="BackupFolder"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\TlogData\Data\RecoverT\Good\Backup"/>
      <add key="ConsignmentStoreFile"  value="\\sgicorp\spencergifts\POS\Polling\Poll\AuditWorks\Translate\exclude.dat"/>
      <add key="FailedTranslatePath"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\TlogData\Data\RecoverT\TranslateFailed"/>
      <add key="TranslateExludeFile"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\TlogData\exclude.txt"/>
      <add key="TranslateExludePath"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\TlogData\Poll\TlogT"/>
      <add key="TranslateExludeType_BeforeTrans"  value="A,P,I"/>
      <add key="ConsignmentCountryCode"  value="2"/>
      <add key="ValidateTLog"  value="false" />
      <add key="PolledNetSalesFile"  value="\\sgawdevapp\Retail_apps\DATA\polled_net_sales.tab"  />
      <add key="ReDate"  value="false" />
      <add key="MaxThreads"  value="30" />
      <add key="MinThreads"  value="10" />
      <add key="ConcurrentThreads" value="10"/>
    </SpencerGifts.Translate.Plugin.TLog.Daily>
    <SpencerGifts.Translate.Plugin.TLog.Daily.Consignment>
      <!-- Start Required Config Values-->
      <add key="ExecutionName"  value="SpencerGifts.Translate.Plugin.TLog,SpencerGifts.Translate.Plugin.TLog.TLogTranslateItem"/>
      <add key="SourceFileLocation"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\TlogData\Data\RecoverT\GoodExclude\Converted"  />
      <add key="TranslatedFileLocation"  value="\\sgawdevapp\Retail_apps"/>
      <add key="RulesFile"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\Translate Templates\TranslateRules.xml" />
      <add key="SourceTemplate"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\Translate Templates\TLog.xml" />
      <add key="DestinationTemplate"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\Translate Templates\AuditWorks.xml" />
      <add key="SourceFile"  value="" />
      <add key="NewDocumentRootNode"  value="STORE" />
      <add key="LoggingProvider"  value="SpencerGifts.Common.Logging.HTMLogger,SpencerGifts.Common.Logging"/>
      <!-- End Required Config Values-->
      <add key="BadTlogLocation"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\TlogData\Data\RecoverT\Bad" />
      <add key="BackupFolder"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\TlogData\Data\RecoverT\GoodExclude\Backup"/>
      <add key="ConsignmentStoreFile"  value="\\sgicorp\spencergifts\POS\Polling\Poll\AuditWorks\Translate\exclude.dat"/>
      <add key="FailedTranslatePath"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\TlogData\Data\RecoverT\TranslateFailed"/>
      <add key="TranslateExludeFile"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\TlogData\exclude.txt"/>
      <add key="TranslateExludePath"  value="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\TlogData\Poll\TlogT"/>
      <add key="TranslateExludeType_BeforeTrans"  value="A,P,I"/>
      <add key="ConsignmentCountryCode"  value="2"/>
      <add key="ValidateTLog"  value="false" />
      <add key="PolledNetSalesFile"  value="\\sgawdevapp\Retail_apps\DATA\polled_net_sales.tab"  />
      <add key="ReDate"  value="false" />
      <add key="MaxThreads"  value="30" />
      <add key="MinThreads"  value="10" />
      <add key="ConcurrentThreads" value="10"/>
    </SpencerGifts.Translate.Plugin.TLog.Daily.Consignment>
  </TranslatePlugins>
  <CountryConfig>
    <Country_0>
      <add key="Country" value="US"/>
      <add key="Directory_Prefix" value="AWL"/>
      <add key="DirectoryLocation" value="auditworks\Pollfiles"/>
      <add key="TranslatedFilePrefix" value="XPOLLD" />
    </Country_0>
    <Country_1>
      <add key="Country" value="CA"/>
      <add key="Directory_Prefix" value="AWC"/>
      <add key="DirectoryLocation" value="auditworks\Pollfiles"/>
      <add key="TranslatedFilePrefix" value="XPOLLD" />
    </Country_1>
    <Country_2>
      <add key="Country" value="UK"/>
      <add key="Directory_Prefix" value="AWU"/>
      <add key="DirectoryLocation" value="auditworks_uk\Pollfiles"/>
      <add key="TranslatedFilePrefix" value="XPOLLD" />
    </Country_2>
  </CountryConfig>
  <LoggingConfiguration ConfigSettings ="\\sgicorp\spencergifts\POS\Polling\SupportData\WorkingFiles\Translate\LoggingConfig.xml" />
  <appSettings>
    <add key="SaveXMLTLog" value="False"/>
    <add key="XMLTLogSavePath" value="\\sgsql\FileSave\XMLTlogs"/>
  </appSettings>
</configuration>
