<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="TranslatePlugins">
      <section name="SpencerGifts.Translate.Plugin.TLog.AS400" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="SpencerGifts.Translate.Plugin.TLog.Nightly" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="SpencerGifts.Translate.Plugin.TLog.Daily" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
    <sectionGroup name="CountryConfig">
      <section name="Country_0" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="Country_1" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="Country_2" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    <sectionGroup name="LoggingProvider">
      <section name="SpencerGifts.Translate.Providers.Logging" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
  </configSections>
  <TranslatePlugins>
    <SpencerGifts.Translate.Plugin.TLog.Nightly>
      <!-- Start Required Config Values-->
      <add key ="ExecutionName" value="SpencerGifts.Translate.Plugin.TLog,SpencerGifts.Translate.Plugin.TLog.TLogTranslateItem"/>
      <add key ="SourceFileLocation" value ="\\sgw2kpoll\Poll\TlogT\Good\Translated"/>
      <add key ="TranslatedFileLocation" value="\\sgaw\sybwork"/>
      <add key ="RulesFile" value ="\\sgw2kpoll\Poll\Translate\Translate Templates\TranslateRules.xml"/>
      <add key ="SourceTemplate" value="\\sgw2kpoll\Poll\Translate\Translate Templates\TLog.xml" />
      <add key ="DestinationTemplate" value="sgw2kpoll\Poll\Translate\Translate Templates\AuditWorks.xml" />
      <add key ="SourceFile" value="" />
      <add key ="NewDocumentRootNode" value ="STORE"/>
      <add key= "LoggingProvider" value="SpencerGifts.Common.Logging.TextLogger,SpencerGifts.Common.Logging"/>
      <!-- End Required Config Values-->
      <add key ="BadTlogLocation" value="\\sgw2kpoll\Poll\TlogT\Bad" />
      <add key ="BackupFolder" value="\\sgw2kpoll\Poll\TlogT\Good\Backup"/>
      <add key ="ConsignmentStoreFile" value="\\sgw2kpoll\Poll\Auditworks\Translate\exclude.dat"/>
      <add key ="FailedTranslatePath" value="\\sgw2kpoll\Poll\TlogT\TranslateTest\TranslateFailed"/>
      <add key ="TranslateExludeFile" value="\\sgw2kpoll\poll\bin\exclude.txt"/>
      <add key ="TranslateExludePath" value="\\sgw2kpoll\Poll\TlogT"/>
      <add key= "TranslateExludeType_BeforeTrans" value="A,P,I"/>
      <add key ="ConsignmentCountryCode" value="2"/>
      <add key ="ValidateTLog" value ="true"/>
      <add key ="PolledNetSalesFile" value ="\\sgaw\sybwork\Spencer\DATA\polled_net_sales.tab" />
      <add key ="MaxThreads" value="5" />
      <add key ="MinThreads" value="2" />
      <add key="ConcurrentThreads" value="5"/>
    </SpencerGifts.Translate.Plugin.TLog.Nightly>
    <SpencerGifts.Translate.Plugin.TLog.Daily>
      <!-- Start Required Config Values-->
      <add key ="ExecutionName" value="SpencerGifts.Translate.Plugin.TLog,SpencerGifts.Translate.Plugin.TLog.TLogTranslateItem"/>
      <add key ="SourceFileLocation" value ="\\sgw2kpoll\Data\RecoverT\Good\Translated"/>
      <add key ="TranslatedFileLocation" value="\\sgaw\sybwork"/>
      <add key ="RulesFile" value ="\\sgw2kpoll\Poll\Translate\Translate Templates\TranslateRules.xml"/>
      <add key ="SourceTemplate" value="\\sgw2kpoll\Poll\Translate\Translate Templates\TLog.xml" />
      <add key ="DestinationTemplate" value="\\sgw2kpoll\Poll\Translate\Translate Templates\AuditWorks.xml" />
      <add key ="SourceFile" value="" />
      <add key ="NewDocumentRootNode" value ="STORE"/>
      <add key= "LoggingProvider" value="SpencerGifts.Common.Logging.TextLogger,SpencerGifts.Common.Logging"/>
      <!-- End Required Config Values-->
      <add key ="BadTlogLocation" value="\\sgw2kpoll\Data\RecoverT\Bad" />
      <add key ="BackupFolder" value="\\sgw2kpoll\Data\RecoverT\Good\Backup"/>
      <add key ="ConsignmentStoreFile" value="\\sgw2kpoll\Poll\Auditworks\Translate\exclude.dat"/>
      <add key ="FailedTranslatePath" value="\\sgw2kpoll\Data\RecoverT\TranslateFailed"/>
      <add key ="TranslateExludeFile" value="\\sgw2kpoll\poll\bin\exclude.txt"/>
      <add key ="TranslateExludePath" value="\\sgw2kpoll\Poll\TlogT"/>
      <add key= "TranslateExludeType_BeforeTrans" value="A,P,I"/>
      <add key ="ConsignmentCountryCode" value="2"/>
      <add key ="ValidateTLog" value ="true"/>
      <add key ="PolledNetSalesFile" value ="\\sgaw\sybwork\Spencer\DATA\polled_net_sales.tab" />
      <add key ="MaxThreads" value="5" />
      <add key ="MinThreads" value="2" />
      <add key="ConcurrentThreads" value="1"/>
    </SpencerGifts.Translate.Plugin.TLog.Daily>
    <SpencerGifts.Translate.Plugin.TLog.AS400>
      <!-- Start Required Config Values-->
      <add key ="ExecutionName" value="SpencerGifts.Translate.Plugin.TLog.AS400,SpencerGifts.Translate.Plugin.TLog.AS400.TLogTranslateItem"/>
      <add key ="SourceFileLocation" value ="e:\Poll\Upload"/>
      <add key ="TranslatedFileLocation" value="e:\Poll\Upload"/>
      <add key ="RulesFile" value ="C:\Documents and Settings\stein\My Documents\Visual Studio 2005\Projects\Translate\Translate\Translate Templates\SpencerGifts.Translate.Plugin.TLog.AS400Rules.xml"/>
      <add key ="SourceTemplate" value="C:\Documents and Settings\stein\My Documents\Visual Studio 2005\Projects\Translate\Translate\Translate Templates\TLog.xml" />
      <add key ="DestinationTemplate" value="C:\Documents and Settings\stein\My Documents\Visual Studio 2005\Projects\Translate\Translate\Translate Templates\TLog.xml" />
      <add key ="SourceFile" value="UpLogsT" />
      <add key ="NewDocumentRootNode" value ="STORE"/>
      <add key= "LoggingProvider" value="SpencerGifts.Common.Logging.TextLogger,SpencerGifts.Common.Logging"/>
      <!-- End Required Config Values-->
      <add key ="DestinationFile" value="UpLogsTMask" />
    </SpencerGifts.Translate.Plugin.TLog.AS400>
  </TranslatePlugins>
  <CountryConfig>
    <Country_0>
      <add key="Country" value="US"/>
      <add key="Directory_Prefix" value="AWL"/>
      <add key="DirectoryLocation" value="PollFiles_Live\AWL"/>
      <add key="TranslatedFilePrefix" value="XPOLLD" />
    </Country_0>
    <Country_1>
      <add key="Country" value="CA"/>
      <add key="Directory_Prefix" value="AWC"/>
      <add key="DirectoryLocation" value="PollFiles_Live\AWC"/>
      <add key="TranslatedFilePrefix" value="XPOLLD" />
    </Country_1>
    <Country_2>
      <add key="Country" value="UK"/>
      <add key="Directory_Prefix" value="AWU"/>
      <add key="DirectoryLocation" value="PollFiles_Live\AWU"/>
      <add key="TranslatedFilePrefix" value="XPOLLD" />
    </Country_2>
  </CountryConfig>
  <LoggingProvider>
    <SpencerGifts.Translate.Providers.Logging>
      <add key="LogFileLocation" value="C:\TransateTest\Logs"/>
      <add key="LogHistoryPurge" value="1" />
    </SpencerGifts.Translate.Providers.Logging>
  </LoggingProvider>
  <appSettings>    
    <add key="SaveXMLTLog" value="False"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>