<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SpencerGifts.Translate.Tlog.SGTLOGFORMAT.Properties.Settings.TranslateConnectionString1"
            connectionString="Data Source=GREECOS_09-PC;Initial Catalog=Translate;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>